body{
  background-color: $color_main_color !important;
  color: $color_mild_color;

  label{
    color: $color_darker_color;
  }
  button{
    background-color: $color_detail_color;
    color: $color_background_color;
  }
}
